<h1>About Us </h1>
<p>I am working on my Onemonth.com rails application because I really want to learn to code</p>

<p>After I have finished my Onemonth rails appliaction I will continue with my study by making one appliaction every 2 days.</p>

<p>I know what you're thinking. That i am crazy. But I think it can be done if I work on Ruby On Rails Application Example tutorials on Youtube</p>

<p>By the end of the year I want to become profecient at Ruby On Rails.</p>